default: &default
  adapter: postgresql
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  username: postgres
  password: Figaro.env.postgres_user
  host: Figaro.env.host

development:
  <<: *default
  database: om30_development

test:
  <<: *default
  database: om30_test

production:
  <<: *default
  database: om30_production
  username: om30
  password: <%= ENV["OM30_DATABASE_PASSWORD"] %>
